// SECTION how :: START

section#how.how

  .how__bg
    .how__bg-path

  h2.how__title.c-title How it works

  .how__wrapper

    .how__block-wrapper
      div
        .how__block.how__block-1
          .how__block-bg
          .how__block-body
            p.how__block-num 01
            p.how__block-desc!= "<span>Post your job for free.</span> Tell us how much you are willing to pay when you hire the perfect candidate."
          .how__block-icon
            +iconSVG('how-1', '')
      div
        .how__block.how__block-2
          .how__block-bg
          .how__block-body
            p.how__block-num 02
            p.how__block-desc!= "We tailor-make and <span>publish advertisements</span> to relevant segments of the <span>public, inviting them to refer.</span>"
          .how__block-icon
            +iconSVG('how-2', '')
      div
        .how__block.how__block-3
          .how__block-bg
          .how__block-body
            p.how__block-num 03
            p.how__block-desc!= "Receive <span>unlimited referrals</span> of best-in-class talent, sorted through our <span>algorithm.</span>"
          .how__block-icon
            +iconSVG('how-3', '')
      div
        .how__block.how__block-4
          .how__block-bg
          .how__block-body
            p.how__block-num 04
            p.how__block-desc!= "Our <span>specialized account managers</span> discuss & share the best profiles with you – start hiring by depositing the reward into a secure escrow."
          .how__block-icon
            +iconSVG('how-4', '')
      div
        .how__block.how__block-5
          .how__block-bg
          .how__block-body
            p.how__block-num 05
            p.how__block-desc!= "<span>Encash the reward to the referrer</span> when you hire – or get <span>your money back</span> if you don’t!"
          .how__block-icon
            +iconSVG('how-5', '')

    .how__arrow
      div
      div
        img(src="img/how-line.png" srcset="img/how-line@2x.png 2x")

// SECTION how :: END